@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-serif: "Cinzel", serif;
    --font-sans: "Inter", sans-serif;
  }

  body {
    font-family: var(--font-sans);
    background-color: #030712;
  }

  .font-serif {
    font-family: var(--font-serif);
  }
}

@layer utilities {
  .bg-gradient-radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
  }
}
